.contact-hero {
	background: url("https://res.cloudinary.com/maximuscloud/image/upload/v1599605655/pexels-kaboompics-com-5808_apso79.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
}
.contact-hero-overlay {
	background: #151515;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.contact-hero-info {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
.contact-hero-info > h1 {
	font-size: 5rem;
}
.contact-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact-main-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.contact-main-left,
.contact-main-right {
	width: 50%;

	color: white !important;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.contact-main-left {
	background-color: #b26161;
	padding: 50px 0 50px 0;
}
.contact-main-right {
	background-color: #651414;
	padding: 61px 0 61px 0;
}
.contact-input > label {
	color: white !important;
}
.contact-input > div > textarea {
	color: white !important;
}
.contact-input > div > fieldset {
	border-color: white !important;
}
.contact-input > div > input {
	color: white !important;
}

.contact-input-container {
	display: flex;
}
.contact-sendBtn {
	margin: 20px !important;
	color: white !important;
	border-color: white !important;
}
.contact-map {
	width: 98%;
	height: 500px;
}
.contact-social-container {
	width: 50%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: 30px;
}
@media only screen and (max-width: 720px) {
	.contact-main-container {
		flex-direction: column;
	}
	.contact-hero-info > h1 {
		font-size: 3rem;
	}
	.contact-main-left,
	.contact-main-right {
		width: 100%;
	}
	.contact-main-left {
		padding: 30px 0;
	}
	.get-in-touch-list {
		width: 90%;
	}
}
