.slider-image {
	width: 100%;
	height: 100%;
}
#root > ul > div.swiper-wrapper > li.swiper-slide {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-btn svg {
	color: white;
	font-size: 40px;
}
.swiper-container {
	margin: 0;
	height: 100vh;
}
.navBar {
	height: 10%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
.navBar-left {
	width: 75%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.navBar-right {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 50px;
}
.navBar-logo {
	width: 50px;
	height: auto;
	opacity: 1;
	margin: 0 50px;
}
.navBar-link {
	margin: 0 20px;
	color: white !important;
}
.slide-info {
	height: 90%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 1;
}
.slide-overlay {
	background-color: #151515;
	opacity: 0.7;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slide-container {
	height: 100%;
	width: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
.navBar-logo-phone {
	width: 30px;
	height: auto;
	margin: 0 20px;
}
body
	> div.MuiPopover-root.phone-menu-list
	> div.MuiPaper-root.MuiMenu-paper.MuiPopover-paper.MuiPaper-elevation8.MuiPaper-rounded
	> ul {
	background-color: #fec397;
}
.navBar-right-phone {
	width: 25%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.contact-btn-phone svg {
	color: white;
	font-size: 30px;
}
.home-about-hero-container {
	display: flex;
	align-items: flex-start;
	justify-content: space-evenly;
}
.home-about-hero-left,
.home-about-hero-right {
	display: flex;
	width: 20%;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.home-about-hero-left {
	align-items: flex-end;
}
.home-about-hero-left > p {
	font-size: 2.5rem;
	margin-bottom: 50px;
	text-align: right;
}
.home-about-hero-right > p {
	font-size: 1.2rem;
}
.home-about-hero-right {
	width: 70%;
}
.home-about-svg-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.home-about-hero-svg-bar {
	display: flex;
	width: 100%;
	justify-content: space-evenly;
	align-items: center;
}
.home-about-svg {
	width: 150px;
	height: auto;
}
@media only screen and (max-width: 720px) {
	.slide-info {
		width: 80%;
		margin: 0 auto;
	}
	.slide-info > img {
		width: 100px !important;
		height: auto !important;
	}
	.slide-info > h1 {
		font-size: 1.5rem;
		text-align: center;
	}
	.swiper-container {
		height: 50vh;
	}
	.navBar-link {
		color: #651414 !important;
	}
	.home-about-hero-left {
		width: 20%;
	}
	.home-about-hero-right {
		width: 80%;
	}
	.home-about-svg {
		width: 35px;
	}
	.home-about-hero-svg-bar {
		flex-wrap: wrap;
	}
	.home-about-svg-container {
		margin: 5px;
	}
	.home-about-svg-container > h5 {
		font-size: 8px;
	}
	.home-about-hero-left > h2,
	.home-about-hero-right > p {
		font-size: 12px;
	}
	.home-learn-button > span {
		font-size: 8px !important;
	}
	.home-about-hero-left > button {
		color: black !important;
		border: 2px solid black;
	}
}
@media only screen and (max-width: 1075px) {
	.navBar-link {
		color: #651414 !important;
	}
}
