.category1-container {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	align-items: center;
}
.category1-hero {
	background: url("https://res.cloudinary.com/maximuscloud/image/upload/v1600557794/pexels-john-lambeth-2252584_gqmapm.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
	height: 40%;
}
.category1-hero-overlay {
	background: #151515;
	opacity: 0.7;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.category1-hero-info {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 90%;
}
.category1-hero-info > h1 {
	font-size: 5rem;
}
.category1-card-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.category1-card {
	width: 25%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: #d88787 !important;
	margin: 50px;
	height: 70vh;
}
.category1-card-image {
	width: 100%;
	height: auto;
}
.category1-card-footer {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.category1-card-footer-container {
	height: 20%;
	width: 100%;
}
.category1-card-button {
	color: white !important;
	border: 2px solid white !important;
}
.category1-modal {
	display: flex;
	justify-content: center;
	align-items: center;
}
.category1-modal-container {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-color: #fec397;
}
.category1-modal-left-div {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: center;
	align-items: center;
}
.category1-modal-right-div {
	display: flex;
	flex-direction: column;
	width: 45%;
	justify-content: center;
	align-items: center;
}
.category1-modal-image {
	width: 90%;
	margin: 30px auto;
	height: auto;
}
.category1-modal-table-container {
	width: 90% !important;
	margin: 20px auto;
	border: 2px solid black;
}
.category1-modal-heading {
	background-color: #db9a69 !important;
	display: flex;
	padding: 10px 75px;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
